

// variables

$white:white;
$black:black;
$navbar-color:linear-gradient(#2c86c6,#2c86c6);

// $navbar-color:linear-gradient(#2c313e,#2c313e);

$logo-color-1:#7e96cc;
$logo-color-2:#002160;
$logo-color-3:#2b5597;
$card-title-color:#59575c;
$table-head-color:#f7f7f7;
$custom-width:1000;
$form-head-tag-color:whitesmoke;
$calculator_color:linear-gradient(145deg, #2d86c5, #2c86c6);

$calculator_box_shadow: 5px 6px 5px #bebebe, 10px 0px 0px #ffffff;


// end